$easeSmooth: cubic-bezier(0.39,0.575,0.28,0.995);

$base-font-size-ec: 16px !default;
$max-width: 1280px;

// Breakpoints
$bp-tablet: 940px;
$bp-mobile: 768px;

//Spacing
$grid-spacing: 20px;
$section-padding: 80px;